{% extends 'base.html' %}
{% load libraries_tags %}
{% block title %} Панель Администратора {% endblock %}

{% block content %}
<style>
body {
    background-color: #1e2124;
}
</style>
<div class="main" style="display: flex;">
    {% show_categories category %}
    <div class="container" style="margin-top: 3vh;">
        <div class="row row-cols-2">

            {% get_books request=request filter=1 as books %}
            {% for book in books %}
                <div class="row_blocks" style="display: flex;" style="background-color: #1e2124;">
                    <div class="card mb-3" style="max-width: 540px; background-color: #1e2124;">
                        <div class="row g-0" style="height: 100%; width: 65v;">
                        <div class="col-md-4">
                            <img src="{{ book.photo.url }}" class="img-fluid rounded-start" style="height: 100%; width: 100%;" alt="Фотография книги была удалена">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                            <h5 class="card-title" style="color: white">{{ book.title }}</h5>
                            <p class="card-text" style="color: rgb(156, 156, 156)">{{ book.description|truncatechars:128 }}</p>
                            <a href="#" class="card-link">Книга у пользователя: {{ user.username|title }}</a>
                            <br>
                            <br>

                            <div class="buttons__forms" style="display: flex;">
                                <form method="post" action="{{ book.delete_book }}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Удалить книгу</button>
                                </form>
                               
                                <form method="post" action="{{ book.notify_book }}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-success" style="margin-left: 4px;">Попросить вернуть</button>
                                </form>
                            </div>

                            <form method="post" action="{{ book.confrim_get_book }}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-warning" style="margin-top: 5px; width: 100%;">Подтвердить получение книги</button>
                            </form>


                            <p style="color: rgb(156, 156, 156); font-size: 14px; margin-top: 10px;">Взята в: {{ book.time_update }}</p>
                            </div>
                            <div class="cardsss" style="width: 18rem; margin-left: 10px;">
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            {% endfor %}



        </div>








    </div>
</div>
{% endblock %}

