{% extends 'base.html' %}
{% load static %}
{% load libraries_tags %}

{% block title %} Подтверждение {% endblock %}

{% block content %}
<style>
    body {background-color:#1e2124;}
</style>
    <div class="main" style="display: flex;">
        {% show_categories category %}
        <div class="container" style="margin-top: 3vh;">
            <div class="photo__text">
                <div class="photofdsfds" style="display: flex; width: 100%;">
                    <div class="one">
                        <img src="{{ book.photo.url }}" style="height: 100%; width: 40vh;" alt="">
                    </div>
                    <div class="two" style="margin-left: 30px;">
                        <h2 style="color:white">{{ book.title }}</h2>
                        <p style="color:rgb(156, 156, 156)">{{ book.description|truncatechars:2000 }}</p>
                    </div>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <button class="btn btn-warning" style="margin-top:25px; width: 100%">Подтвердить</button>
                </form>
                
                <!-- <h3>{{ book.category.name }}</h3>
                <h3>published at: {{ book.time_create }}</h3> -->
            </div>
        </div>
    </div>
{% endblock %}